{% extends 'base.html' %}

{% block content %}

    <h1>Edit Post</h1>
    <form action="" method="post" class="styled-form">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" class="styled-button" />
    </form>

    <style>
        .styled-form {
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .styled-form:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }

        .styled-button {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        .styled-button:hover {
            background-color: #45a049;
            transform: translateY(-2px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        }
    </style>


{% endblock content %}